<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Welcome to my website</h1>
	<a href="/data"><button>Show Data</button></a>
  <h1>Upload the master course list</h1>
	<a href="/upload"><button>Upload here</button></a>
  <h1>Upload register list</h1>
  <a href="/upload"><button>Upload here</button></a>
  <h1>SQL Table names</h1>
  <a href="/showTable"><button>Find all table names</button></a>
<!--     <button onclick="location.href='/run_selenium'">Run Selenium</button> -->
  <a href="/uploadRegister"><button>Upload here</button></a>
</body>
</html>
